@charset "utf-8";
/* CSS Document */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  text-align: left;
  background-color: white;
}

table tr td:first-child{
	background-color: rgba(0,0,0,0.29);
	
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover{
	transform: scale(1.1,1.1) translateY(1px);
}

aside {
	margin: 0% 4% 0% 0%;
	padding: 1%;
	width: 25%;
	font-size: 0.9em;
	background-color: #ffdcdb;
	border: 1px solid rgb(1, 1, 1);
}

caption {
	font-size: 1em;
}
